* {
    padding: 0;
    margin: 0;
    color: #fff; /* Color de texto blanco */
}

header {
    background-color: #333; /* Fondo oscuro para el encabezado */
    width: 100%;
    height: 60px;
}

header nav {
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    color: #fff;
    background-color: #555; /* Fondo oscuro para los enlaces */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #777; /* Fondo más claro en estado hover */
}

body {
    font-family: Arial, sans-serif;
    background-color: #222; /* Fondo oscuro para el cuerpo */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #111; /* Fondo oscuro para el contenedor */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Sombra con color claro */
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
    color: #fff; /* Color de texto blanco */
}

h3 {
    font-size: 18px;
    margin: 20px 0;
    color: #fff; /* Color de texto blanco */
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #fff; /* Color de texto blanco para las etiquetas */
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333; /* Fondo oscuro para las cajas de texto */
    color: #fff; /* Texto blanco en las cajas de texto */
}

input[type="button"] {
    background-color: #625aa8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#res {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#res:focus {
    outline: none;
}
header nav ul li a:hover {
    transform: scale(1.2);
}
